<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Research</h3>
    <ul>
      <li>Spectral Adapter: Fine-Tuning in Spectral Space <br> <span style="color:#BDC3C7">Conference on Neural Information Processing System (NeurIPS) 2024</span></li>
      <li>Riemannian Preconditioned LoRA for Fine-Tuning Foundation Models <br> <span style="color:#BDC3C7">International Conference on Machine Learning (ICML) 2024</span></li>
      <li>Optimal Shrinkage for Distributed Second-Order Optimization <br> <span style="color:#BDC3C7">International Conference on Machine Learning (ICML) 2023</span></li>
      <li>Implementation of an oracle-structured bundle method for distributed optimization <br> <span style="color:#BDC3C7">Optimization and Engineering 2023</span></li>
    </ul>
  </div>
</div>
