<div class="row g-5 mb-5">
  <div>
    <!-- <h5 class="fw-normal border-bottom pb-3 mb-5">Research <a href="https://scholar.google.com/citations?user=L0A6X1EAAAAJ&hl=en" 
     style="font-size: 1rem; font-weight: normal;">
    scholar)
  </a></h5> -->
    <h5 class="fw-normal border-bottom pb-3 mb-5">
  Research
  <span style="font-size: 1rem;"> 
    (<a href="https://scholar.google.com/citations?user=LOA6X1EAAAAJ">scholar</a>)
  </span>
</h5>
    <ul>
      <li><i>Statsformer: Validated Ensemble Learning with LLM-Derived Semantic Priors</i>   <br>  <span style="color:#909497">Erica Zhang<sup>*</sup>, </span> <span style="color:#909497">Naomi Sagan<sup>*</sup>, </span> <span style="color:#909497">Danny Tse,</span> <u>Fangzhao Zhang</u>,  <span style="color:#909497">Mert Pilanci,</span> <span style="color:#909497">Jose Blanchet</span> <br> <span style="color:#3C3F52">Preprint 2026</span> <br><a href="https://arxiv.org/pdf/2601.21410">[pdf]</a><a href="https://github.com/pilancilab/statsformer">[code]</a><a href="https://arxiv.org/abs/2601.21410">[arXiv]</a></br> </li>
      <br> 
      <li><i>Analyzing Neural Network-Based Generative Diffusion Models through Convex Optimization</i>   <br> <u>Fangzhao Zhang<sup></u>,  <span style="color:#909497">Mert Pilanci</span> <br> <span style="color:#3C3F52">NeurIPS OPT Workshop 2025</span> <br><a href="https://arxiv.org/pdf/2402.01965">[pdf]</a><a href="https://arxiv.org/abs/2402.01965">[arXiv]</a></br> </li>
      <br> 
      <li><i>AlgoTune: Can Language Models Speed Up General-Purpose Numerical Programs?</i> <br>   <span style="color:#909497"> Ori Press, Brandon Amos, Haoyu Zhao, Yikai Wu, Samuel K. Ainsworth, Dominik Krupke, Patrick Kidger, Touqir Sajed, Bartolomeo Stellato, Jisun Park, Nathanael Bosch, Eli Meril, Albert Steppi, Arman Zharmagambetov,</span>  <u>Fangzhao Zhang,<sup></u> <span style="color:#909497"> David Pérez–Piñeiro, Alberto Mercurio,  Ni Zhan, Talor Abramovich, Kilian Lieret, Hanlin Zhang, Shirley Huang, Matthias Bethge, Ofir Press</span>  <br>  <span style="color:#3C3F52">NeurIPS Datasets and Benchmarks 2025</span> <br><a href="https://algotune.io/paper.pdf">[pdf]</a><a href="https://github.com/oripress/AlgoTune">[code]</a><a href="https://arxiv.org/abs/2507.15887">[arXiv]</a><a href="https://algotune.io/">[website]</a></br> </li>
      <br>
      <li><i>Solving Large Multicommodity Network Flow Problems on GPUs</i>   <br> <u>Fangzhao Zhang<sup></u>,  <span style="color:#909497"> Stephen Boyd</span> <br> <span style="color:#3C3F52">Automation and Remote Control (ARC) 2025</span> <br><a href="https://arxiv.org/pdf/2501.17996">[pdf]</a><a href="https://github.com/cvxgrp/pdmcf">[code]</a><a href="https://arxiv.org/abs/2501.17996">[arXiv]</a></br> </li>
      <br>
      <li><i>Active Learning of Deep Neural Networks via Gradient-Free Cutting Planes</i>   <br><span style="color:#909497">Erica Zhang<sup>*</sup>, </span> <u>Fangzhao Zhang<sup>*</sup>,</u>  <span style="color:#909497"> Mert Pilanci</span> <br> <span style="color:#3C3F52">International Conference on Machine Learning (ICML) 2025</span> <br><a href="https://arxiv.org/pdf/2410.02145">[pdf]</a><a href="https://arxiv.org/abs/2410.02145">[arXiv]</a></br> </li>
      <br>
      <li><i>Newton Meets Marchenko-Pastur: Massively Parallel Second-Order Optimization with Hessian Sketching and Debiasing</i>  <br><span style="color:#909497">Elad Romanov,</span> <u>Fangzhao Zhang,</u>  <span style="color:#909497"> Mert Pilanci</span> <br> <span style="color:#3C3F52">International Conference on Learning Representations (ICLR) 2025</span> <br><a href="https://arxiv.org/pdf/2410.01374">[pdf]</a><a href="https://arxiv.org/abs/2410.01374">[arXiv]</a></br> </li>
      <br>
      <li><i>Spectral Adapter: Fine-Tuning in Spectral Space</i>  <br> <u>Fangzhao Zhang</u>,  <span style="color:#909497">Mert Pilanci</span> <br> <span style="color:#3C3F52">Conference on Neural Information Processing System (NeurIPS) 2024</span> <br><a href="https://arxiv.org/pdf/2405.13952">[pdf]</a> <a href="https://github.com/pilancilab/spectral_adapter">[code]</a><a href="https://arxiv.org/abs/2405.13952">[arXiv]</a></br> </li>
      <br>
      <li><i>Riemannian Preconditioned LoRA for Fine-Tuning Foundation Models</i>  <br> <u>Fangzhao Zhang</u>, <span style="color:#909497"> Mert Pilanci</span> <br> <span style="color:#3C3F52">International Conference on Machine Learning (ICML) 2024</span> <br><a href="https://arxiv.org/pdf/2402.02347">[pdf]</a> <a href="https://github.com/pilancilab/Riemannian_Preconditioned_LoRA">[code]</a><a href="https://arxiv.org/abs/2402.02347">[arXiv]</a></br> </li>
      <br>
<!--       <li><b>Analyzing Neural Network-Based Generative Diffusion Models through Convex Optimization</b>   <br> <b>Fangzhao Zhang</b>,  <span style="color:#909497">Mert Pilanci</span> <br> <span style="color:#909497">Preprint 2024</span> <br><a href="https://arxiv.org/pdf/2402.01965">[pdf]</a><a href="https://arxiv.org/abs/2402.01965">[arXiv]</a></br> </li>
      <br> -->
      <li><i>Optimal Shrinkage for Distributed Second-Order Optimization </i>   <br> <u>Fangzhao Zhang</u>,  <span style="color:#909497">Mert Pilanci</span> <br> <span style="color:#3C3F52">International Conference on Machine Learning (ICML) 2023</span> <br><a href="https://arxiv.org/pdf/2402.01956">[pdf]</a><a href="https://arxiv.org/abs/2402.01956">[arXiv]</a></br> </li>
      <br>
      <li><i>Implementation of an Oracle-Structured Bundle Method for Distributed Optimization</i>  <br><span style="color:#909497">Tetiana Parshakova,</span> <u>Fangzhao Zhang</u>,  <span style="color:#909497">Stephen Boyd</span> <br> <span style="color:#3C3F52">Optimization and Engineering 2023</span>  <br><a href="https://arxiv.org/pdf/2211.01418">[pdf]</a> <a href="https://github.com/cvxgrp/OSBDO">[code]</a> <a href="https://arxiv.org/abs/2211.01418">[arXiv]</a></br> </li>
    </ul>
    (<sup>*</sup> indicates equal contribution)
  </div>
</div>
