<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Research</h3>
    <ul>
      <li>Active Learning of Deep Neural Networks via Gradient-Free Cutting Planes <br>Erica Zhang<sup>*</sup>, Fangzhao Zhang<sup>*</sup>,  Mert Pilanci <br> <span style="color:#BDC3C7">Preprint 2025</span> <br> <a href="https://www.google.com/">paper</a> <a href="https://www.google.com/">code</a></li>
      <li>Newton Meets Marchenko-Pastur: Massively Parallel Second-Order Optimization with Hessian Sketching and Debiasing <br>Elad Romanov, Fangzhao Zhang,  Mert Pilanci <br> <span style="color:#BDC3C7">Preprint 2025</span> <br> <a href="https://www.google.com/">paper</a> <a href="https://www.google.com/">code</a></li>
      <li>Spectral Adapter: Fine-Tuning in Spectral Space <br>Fangzhao Zhang,  Mert Pilanci <br> <span style="color:#BDC3C7">Conference on Neural Information Processing System (NeurIPS) 2024</span> <br> <a href="https://www.google.com/">paper</a> <a href="https://www.google.com/">code</a></li>
      <li>Riemannian Preconditioned LoRA for Fine-Tuning Foundation Models <br>Fangzhao Zhang,  Mert Pilanci <br> <span style="color:#BDC3C7">International Conference on Machine Learning (ICML) 2024</span> <br> <a href="https://www.google.com/">paper</a> <a href="https://www.google.com/">code</a></li>
      <li>Analyzing Neural Network-Based Generative Diffusion Models through Convex Optimization <br> Fangzhao Zhang,  Mert Pilanci <br> <span style="color:#BDC3C7">Preprint 2024</span> <br> <a href="https://www.google.com/">paper</a> <a href="https://www.google.com/">code</a></li>
      <li>Optimal Shrinkage for Distributed Second-Order Optimization <br>Fangzhao Zhang,  Mert Pilanci <br> <span style="color:#BDC3C7">International Conference on Machine Learning (ICML) 2023</span> <br> <a href="https://www.google.com/">paper</a> <a href="https://www.google.com/">code</a></li>
      <li>Implementation of an oracle-structured bundle method for distributed optimization <br><span style="color:#5DADE2">Tetiana Parshakova, Fangzhao Zhang,  Stephen Boyd</span> <br> <span style="color:#BDC3C7">Optimization and Engineering 2023</span> <br> <a href="https://www.google.com/" style="color:#BDC3C7">paper</a> <a href="https://www.google.com/">code</a></li>
    </ul>
  </div>
</div>
