---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-7">
<!--     <h3 class="fw-bold" style="text-align:center">Fangzhao Zhang &nbsp;&nbsp;&nbsp; <span style="font-size: 50%"> 张芳兆</span> </h3>  -->
<!--     <h3 class="fw-bold" style="text-align:center">Fangzhao Zhang </h3> -->
   {{ content }} 
  </div>

    <div class="col-md-5 pull-right">
       <img src="{{ site.github.url }}/assets/img/IMG_1475.jpg" alt="Home" width="60%" class="center">
  </div>
 
</div>   

<p>
  <i>News: I will be co-organizing "ScaleOPT: GPU-Accelerated and Scalable Optimization" workshop at NeurIPS 2025 with Parth Nobel, Maximilian Schaller, Tetiana Parshakova, Tobia Marcucci, and Alexandre Amice. Check our website <a href="[url](https://www.cvxgrp.org/scaleopt/)">ScaleOpt</a> for update!</i>
</p>

{% include publications.html %}

{% include teaching.html %}

{% include honors.html %}

