---
layout: default
---
<div class="row g-5 mb-5">
  <div class="col-md-7">
    <h3 class="fw-bold" style="font-size: 1rem; color: #909497;">Fangzhao Zhang</h3>
<!--     <h3 class="fw-bold" style="text-align:center">Fangzhao Zhang &nbsp;&nbsp;&nbsp; <span style="font-size: 50%"> 张芳兆</span> </h3>  -->
<!--     <h3 class="fw-bold" style="text-align:center">Fangzhao Zhang </h3> -->
   {{ content }}
  </div>
    <div class="col-md-4 pull-right">
       <img src="{{ site.github.url }}/assets/img/IMG_3184.jpg" alt="Home" width="90%" class="center" style="margin-left: 40px; float: right;">
  </div>
</div>  
<br>
{% include publications.html %}
{% include teaching.html %}
{% include honors.html %}
{% include service.html %}
